<launch>

 <node pkg="image_to_ros_converter" type="image_converter_ros" name="image_converter_ros" output="screen">

    <param name="start_image" value="11660"/>
    <param name="last_image" value ="12200"/>
    <param name="path_to_image" value= "/home/maxime/Datasets/Downward_looking_camera_(GoPro15002)/DIVE_1/101GOPRO/G00"/>
    <param name="image_extension" value=".JPG"/>
    <param name="fps" value="1"/>
    <param name="topic_color" value="/color"/>
    <param name="topic_grey" value="/grey_image"/>

  </node>

</launch>
