<launch>

 <node pkg="image_to_ros_converter" type="image_converter_ros" name="image_converter_ros" output="screen">

    <param name="start_image" value="1000"/>
    <param name="last_image" value ="4660"/>
    <param name="path_to_image" value= "/home/maxime/Datasets/KITTI_VO/color_sequences/02/image_2/00"/>
    <param name="image_extension" value=".png"/>
    <param name="fps" value="20"/>
    <param name="topic_color" value="/camera/image_raw"/>
    <param name="topic_grey" value="/grey_image"/>

  </node>

</launch>
